.form {
  display: flex;
  background-color: darkslategrey;
}

.control {
  flex: 1;
  padding: 10px;
}

.control select {
  width:100%;
}

.action, .detail {
  flex: 1;
  padding: 10px 2px;
  border: 1px solid blue;
}

.actions button {
  width:100%;
}

